<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>MetaMax 6</name>

  <description>
      Just a game that developed by unfaedah students..
  </description>

  <preference name="orientation" value="landscape" />
  <preference name="fullscreen"  value="true" />  
  <icon src="icon.png" />
</widget>
